name: tests

on:
  push:
    branches:
      - main
  pull_request: null

env:
  PY_COLORS: "1"

jobs:
  tests:
    name: tests
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          environment-file: environment.yml
          environment-name: conda-oci

      - name: configure conda and install code
        shell: bash -el {0}
        run: |
          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: test
        shell: bash -el {0}
        run: |
          pytest -vvs conda_oci
